@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --color-primary: #090323;
      --color-secondary: #5b5dc8;
      --color-heading: #dcff50;
      --color-text: rgba(255, 255, 255, 0.6);
      /* --color-background: #090909; */
  
      
    }
    html{
      @apply bg-background1 font-sans text-offwhite;
      /* font-size: 62.5%; */
    }
  }
input[type="text"],input[type="password"],input[type="email"],textarea,input[type="number"],input[type="tel"]{
    @apply w-full border my-1 py-2 px-3 rounded-2xl bg-slate-700;
}

button.primary{
    background-color: #2D2727;
    @apply bg-primary p-2 w-full text-white rounded-2xl my-1;
  }
